.header {
    background-color: var(--background-container-tertiary-petrol);
    font-weight: 600;
    height: 60px;
    padding: 0 16px;
}

.header,
.header__linkWrapper {
    align-items: center;
    display: flex;
}

.header__linkWrapper {
    color: var(--typography-default);
}

.header__appName {
    font-size: 26px;
    margin-left: 8px;
    border-left: #213547 2px solid;
    padding-left: 8px;
}